@charset "utf-8";

body, article{
	width:320px;
	height:auto;
	background:#bcd5b0;
}
h1{
	font-size:1.4em;
}
h2{
	font-size:1.2em;
}
header{
	height:60px;
}
p{
	line-height:1.4em;
	font-size:0.8em;
}
nav{
	font-size:.8em;
	color:#f2e3b6;
	text-align:left;
	padding-top:.5em;
}
a{
	text-align:left;
	text-decoration: none;
	letter-spacing:normal;
}