#contenido{
	width:90%;
	height: auto;
}
#izq, #der{
	width:90%;
	height: auto;
	clear:both;
}
#articulo{
	height: 1000px;
}
p{
	font-size: 1em;
	line-height: 1.4em;
}
h1{
	font-size: 1.5em;
}
h2{
	font-size: 1.2em;
}
#encabezado{
	height: 60px;
}