/*
encabezado: #79FF52
articulo: #DDE84D
general: #FFE261
equivalentes: #E8AC4D
homero: #FF9059
*/
*{
	margin:0;
	padding: 0;
}
html, body{
	background-color: white;
}
body{
	background-image: url(../imagenes/fondos/fondo4.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	height: 800px;
}
h1{
	padding-top: 5px;
	text-align: center;
	letter-spacing: 0.8em;
}
h2{
	text-align: center;
	padding: 5px;
}
h3{
	text-align: center;
	font-size: 0.8em;
}
p{
	padding-bottom: 10px;
	font-size: 1.2em;
}
/****************
ESTRUCTURA
*****************/
#contenido{
	width: 1024px;
	height: 660px;
	background-color: #ff0;
	margin:0 auto;
}
#encabezado{
	height: 80px;
	background-color: #79FF52;
}
#articulo{
	height: 560px;
	background-color: #DDE84D;
}
#piePagina{
	height: 20px;
	background-color: #79FF52;
}
#izq{
	float: left;
	width: 558px;
	height: 560px;
	margin: 0 16px 0 32px;
}
#der{
	float: right;
	width: 358px;
	height: 560px;
	margin: 0 32px 0 16px;
}
/**************
CLASES
***************/
.imagenDer{
	float: right;
	margin: 0 10px;
}
.imagenIzq{
	float: left;
	margin: 0 10px;
}