/*
contenido: #79FF52
fuente: #DDE84D
general: #FFE261
equivalentes: #E8AC4D
homero: #FF9059
*/
body{
	width:70%;
	margin:0 auto;
}
div{
	border: 1px solid gray;
}
#contenido{
	background-color: #79FF52;
}
#general{
	background-color: #FFE261;
}
#equivalentes{
	background-color:  #E8AC4D;
}
#homero{
	background-color: #E8AC4D;
}
#origenes{
	background-color: #FF9059;
}
#nacimiento{
	background-color: #FF9059;

}